/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}

/* COMMON */
.app-wrapper {
    width: 100%;
    height: 100vh;
}
.flex {
    display: flex;
}
h3 {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}
img {
    width: 100%;
    margin: 0 auto;
    display: block;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: #a3a3a3;
}
ul {
    list-style: none;
}
li a {
    color: #6e6e6e;
    font-size: 11;
    line-height: 30px;
    font-weight: 700;     
}
li a .title-menu:hover, li a:hover, a .title-menu:hover, a .btn-hover:hover {
    color: white;
}
.btn-icon-list i {
    font-size: 40px;
    color: #a3a3a3; 
}
.btn-icon-list i:hover {
    color: white;
}

/**** MAIN ****/
main {
    display: flex;
    width: 100%;
    height: calc(100vh - 100px);
}

/* LEFT NAV */
.left-nav {
    width: 250px;
    background-color: black;
    overflow: hidden;
    color: white;
    display: flex;
    flex-direction: column;
}
.container-left-nav {
    padding: 5px 15px;
    display: flex;
}
.left-nav li a {
    padding-left: 10px;   
}
/* Logo */
.logo {
    width: 100%;
    padding: 20px 10px;
}
.logo-large {
    width: 150px;
}
.logo-small img {
    display: none;
    padding: 0;
}
/* Nav list 1 (Home-Cerca-Libreria) */
.list-1 {
    padding-bottom: 15px;
}
.list-item-menu {
    display: flex;
}
.list-item-menu a:hover {
    color: #a3a3a3;
}
.list-item-menu a:hover .btn-icon-list .btn-hover {
    color: white;
}
li.home-ico {
    border-left: 2px solid greenyellow;
}
.icon img {
    width: 25px;
    height: 25px;
    margin-right: 7px;
}
.title-menu {
    width: calc(100% - 25px);
    font-size: 13px;
}

/* Nav list 2 (Playlist) */
.list-2 {
    flex-grow: 1;
}
.btn-create-list{
    font-size: 18px;
}
.list-2 h3 {
    padding-left: 10px;
}
.list-2 ul {
    overflow-y: auto;
    height: 180px;
}
.btn-icon-list i {
    width: 35px;
    height: 35px;
    background-color: #6e6e6e;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    margin: 10px 5px 10px 10px;
    color: black;
}
.btn-icon-list i:hover {
    background-color: white;
    color: black;
}
/* Nav list 3 (Install app-Name Profile) */
.list-3 {
    padding: 0 10px; 
}
.btn-app {
    padding-bottom: 5px;
    border-bottom: 1px solid #a3a3a3;
}
.btn-profile {
    padding: 5px 0;
    align-items: center;
}
.icon-download img {
    width: 20px;
    height: 20px;    
    margin-right: 7px;
    border-radius: 50%;
}
.icon-profile img {
    width: 25px;
    height: 25px;
    margin-right: 7px;
    padding: 2px;
    border-radius: 50%;
    background-color: #6e6e6e;   
}
a .title-menu {
    color: #a3a3a3;
}

/* CONTENT MAIN */
.main-content {
    width: calc(100% - 250px);
    background-color: #141922;
    overflow-y: auto;
    padding-top: 120px;
    color: white;
}
/* Menu player Category */
.nav-menu-play-category {
    padding: 10px 0 20px 0;
}
.menu-category {
    text-transform: uppercase;
    justify-content: center;
}
.menu-category a {
    font-size: 14px;
    padding: 5px 10px;
    text-transform: uppercase;
}
.row-menu-category {
    width: 30px;
    height: 2px;
    background-color: greenyellow;
    margin: 0 auto;
}
/* END Menu player Category */

/* Content Played */
.content-play-list {
    padding: 10px;
}
.content-play-list h2 {
    font-size: 30px;
    padding-bottom: 10px;
}
.list-row {
    flex-wrap: wrap;
    align-self: flex-start;
    margin-left: -5px;
    margin-right: -5px;  
}
.list-col {
    width: calc(100% / 6 );
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
}
.card-play {
    text-align: center;
    padding-top: 20px;
}
.card-play h2 {
    font-size: 20px;
    padding-top: 20px;
}
.content-play-list h3, .card-play h3 {
    font-size: 12px;
    color: #a3a3a3;
    text-transform: none;
    padding-bottom: 10px;
}
.circle-play {
    border-radius: 50%;
    overflow: hidden;
}
.container-img {
    position: relative;
    width: 100%;
    height: 100%;
}
.card-play:hover .overlay {
    opacity: 1;
}  
.card-play:hover {
    cursor: pointer;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 50px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    overflow: hidden;
}
/* END Content Played */
/* END CONTENT MAIN */

/**** FOOTER ****/
footer {
    width: 100%;
    height: 100px;
    background-color: #282828;
    color: white;
    overflow: hidden;
}
.container-footer {
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 10px 7px;
}
.f-col-center {
    width: 40%;
    margin: 0 auto;
}
/* Column Left */
.f-col-left {
    align-items: center;
}
.f-col-left img {
    width: 50px;
}
.f-col-center h2, .f-col-center h3 {
    display: block;
}
.name-play{
    padding: 0 10px;
}
.name-play h2 {
    font-size: 12px;
}
.name-play h3 {
    font-size: 10px;
    text-transform: none;
}
.name-play h3:hover {
    text-decoration: underline;
}
.f-icon i {
    font-size: 14px;
    padding: 5px;
}
/* Column Center */
/* Comand play */
.comand-play {
    padding-bottom: 10px;
    font-size: 22px;
    width: 170px;
    margin: 0 auto;
    justify-content: center;
}
.comand-play i {
    padding: 0 15px;
}
/* Timer play */
.timer-play {
    justify-content: space-between;
}
.timer {
    font-size: 12px;
    padding: 0 10px;
}
.banner-timer {
    align-items: center;
    width: 100%;
}
.banner-timer:hover, .banner-left:hover .circle-banner:hover {
    cursor: pointer;
}
.banner-left {
    width: 20%;
    height: 3px;
    border-radius: 2px 0 0 2px;
    background-color: #a3a3a3;
}
.banner-left:hover .circle-banner:hover {
    width: calc(20% - 7px);
    background-color: greenyellow;
}
.banner-right {
    width: 80%;
    height: 3px;
    border-radius: 0 2px 2px 0;
    background-color: #5a5a5a;
}
.banner-right:hover {
    width: calc(80% - 7px);
}
.circle-banner:hover {
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 50%;
}
.banner-vol {
    width: 80px;
    align-items: center;
}
.icon-play {
    font-size: 30px;
}
.comand-play {
    align-items: center;
}
.comand-play a {
    color: white;
    
}
.comand-play a:hover {
    color: #a3a3a3;
    transform: scale(1.2);
}
/* Column Right */
.f-col-right {
    align-items: center;
}


/**** BANNER TOP ****/
.banner-top {
    width: calc(100% - 250px);
    height: 100px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    position: fixed;
    top: 0;
    right: 0;   
}
.btn-upgrade {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: right;
    margin-right: 25px;
    transition: transform 1s;
}
.btn-upgrade a {
    color: white;
    text-transform: uppercase;
    border: 1px solid white;
    padding: 10px 40px;
    border-radius: 30px;
}
.btn-upgrade a:hover {
    transform: scale(1.1)
}

/*************
    TABLET
*************/
@media screen and (max-width: 1100px) {
    /* CONTENT MAIN */
    .list-col {
        width: calc(100% / 4 );
    }

    /* FOOTER */
    .f-col-center {
        width: 50%;
    }
}

 /************
    MOBILE
*************/
@media screen and (max-width: 700px) {
    /* CONTENT MAIN */
    .list-col {
        width: calc(100% / 2 );
    }
    /* FOOTER */
    .f-col-center {
        width: 55%;
    }
}
              
/******************
    MOBILE SMALL
 ******************/
@media screen and (max-width: 600px) {
    /**** MAIN ****/
    .left-nav {
        width: 50px;
    }
    .main-content {
        width: calc(100% - 50px);
    }

    /* LEFT NAV */
    .left-nav li a {
        padding-left: 0;
    }
    .list-item-menu {
        display: flex;
        justify-content: center;
    }
    /* Logo */
    .logo {
        padding: 10px;
    }
    .logo-large {
        display: none;
    }
    .logo .logo-small img {
        width: 95%;
        display: flex;
        justify-content: center;
    }
    /* Nav list 1 (Home-Cerca-Libreria) */
    .list-1 {
        flex-grow: 1;
    }
    .title-menu {
        display: none;
    }
    .icon img {
        display: inline-block;
        width: 30px;
        height: 30px;
        justify-content: center;
        margin-right: 0px; 
        padding: 0;   
    }
    li.home-ico {
        border-left: none;
    }
    /* Nav list 2 (Playlist) */
    .list-2 {
        display: none;
    }
    /* Nav list 3 (Install app-Name Profile) */
    .icon-download img,.icon-profile img {
        display: inline-block;
        justify-content: center;
        margin-right: 0px;    
    }
    .btn-app {
        border: none;
    }
    .icon-profile img {
        width: 20px;
        height: 20px; 
    }

    /* FOOTER */
    .f-col-center {
        width: 70%;
    }

    /* BANNER TOP */
    .banner-top {
        width: calc(100% - 50px);
    }
}   